<!DOCTYPE html>
<html>
<head>
    <base href="~/">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - @T.Get("common.product")</title>

    <link rel="stylesheet" asp-append-version="true" href="styles.css" />
    
    @if (IsSectionDefined("header"))
{
    @await RenderSectionAsync("header")
}

    <environment include="Development">
        <script type="text/javascript" src="runtime.js"></script>
        <script type="text/javascript" src="polyfills.js"></script>
    </environment>
</head>
<body class="profile">
    <div class="profile-container">
        <img class="profile-logo" alt="@T.Get("common.product")" title="@T.Get("common.product")" src="images/logo.svg" />

        <div class="profile-card card">
            <div class="profile-card-body card-body">
                @RenderBody()
            </div>
        </div>

        <div class="profile-footer text-center mt-4 mb-2">
            <small class="text-muted">
                @T.Get("setup.madeBy")<br />@T.Get("setup.madeByCopyright")
            </small>
        </div>
    </div>
</body>
</html>