@{
    ViewBag.Title = T.Get("setup.webpack.title");

    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <base href="/">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewBag.Title - @T.Get("common.product")</title>

    <link href="@Url.RootContentUrl("~/styles/bootstrap.min.css")" rel="stylesheet">
    <style>
        body {
            background: #f5f6f9;
            padding-left: 0;
            padding-top: 3.75rem;
        }

        .profile-container {
            margin: 0 auto;
            max-width: 40rem;
            min-width: 10rem;
            padding: 1rem 2rem;
        }

        .profile-logo {
            height: 1.75rem;
            position: absolute;
            padding-left: 0;
            padding-right: 0;
            right: 1rem;
            top: 1rem;
        }

        .profile-footer {
            font-size: .8rem;
            font-weight: normal;
            margin-top: 2rem;
        }

        .card-body {
            text-align: center;
        }
    </style>
</head>
<body class="profile">
    <div class="profile-container">
        <img class="profile-logo" alt="@T.Get("common.product")S" title="@T.Get("common.product")" src="@Url.RootContentUrl("~/images/logo.svg")" />

        <div class="profile-card card">
            <div class="profile-card-body card-body">
                <img class="splash-image" src="@Url.RootContentUrl("~/squid.svg?title=OH%20DAMN&text=Please%20run%20webpack")" />

                <h1 class="splash-h1">@T.Get("setup.webpack.headline")</h1>

                <p>@T.Get("setup.webpack.text")</p>

                <a href="https://docs.squidex.io/01-getting-started/contributing-and-developing/developing" target="_blank">@T.Get("common.documentation")</a>
            </div>
        </div>

        <div class="profile-footer text-center mt-4 mb-2">
            <small class="text-muted">
                @T.Get("setup.madeBy")<br />@T.Get("setup.madeByCopyright")
            </small>
        </div>
    </div>
</body>
</html>